
ultralytics==8.0.198
supervision==0.1.0
ipywidgets==8.1.1
torch
torchvision
torchaudio
supervision
numpy
opencv-python
tqdm
ultralytics
altgraph==0.17.4
asgiref==3.5.0
asttokens==2.4.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
decorator==5.1.1
distlib==0.3.8
Django==4.0.3
django-cors-headers==3.11.0
django-dotenv==1.4.2
django-rest-passwordreset==1.4.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.1.0
environs==11.0.0
executing==2.0.1
filelock==3.13.1
fonttools==4.51.0
fsspec==2024.3.1
idna==3.7
intel-openmp==2021.4.0
ipython==8.23.0
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.3
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
lapx==0.5.7
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mkl==2021.4.0
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pandas==2.2.2
parso==0.8.4
pefile==2023.2.7
pillow==10.3.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
py-cpuinfo==9.0.0
Pygments==2.17.2
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
PyJWT==2.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2021.3
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.31.0
scipy==1.13.0
seaborn==0.13.2
setuptools==69.5.1
six==1.16.0
sqlparse==0.4.2
stack-data==0.6.3
supervision==0.1.0
sympy==1.12
tbb==2021.12.0
thop==0.1.1.post2209072238
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
tqdm==4.66.2
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
ultralytics==8.0.198
urllib3==2.2.1
virtualenv==20.25.1
wcwidth==0.2.13
widgetsnbextension==4.0.10
